.next-post{
    display: inline-block;
    margin: 0 4px 0 4px;
}

.buttons-music{
    width: 100%;
    padding: 0 auto 0 auto;
    align-content: center;
    margin: auto;
    text-align: center;
}

.next-post:hover{
    color: #fff;
}

.next-post a, .next-post button {
    background-color: rgba(169, 173, 175, 0.2);
    font-weight: 500;
    color: #696868;
    display: block;
    border-radius: 60px;
    padding: 12px 35px;
}

.next-post a:hover, .next-post button:hover, .post-control-link:hover{
    background-color:#649e93;
    color: #fff;
}

.next-post button{
    border: rgba(169, 173, 175, 0.2);
}

.next-post button:hover{
    border-color: #649e93;
    border: #649e93;
}

.post-control-link:hover{
    color: #fff;
}


 